@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.nav-base {
	@apply fixed top-0 z-50 w-full transition-all duration-300;
}

.nav-scrolled {
	@apply translate-y-0 bg-white/90 shadow-md backdrop-blur;
}

.nav-transparent {
	@apply -translate-y-1 bg-transparent;
}

/* * {
	outline: 1px dashed rgba(255, 0, 0, 0.7);
} */

::-webkit-scrollbar {
	display: none;
}
